.container
  %p.header_text
  .border_line
  .card
    %h2= @board.name
    %p= @board.description
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集' , edit_board_path(@board)
        = link_to '削除' , board_path(@board), data: { method: 'delete' , confirm: '本当に削除してもよろしいですか？' }